.group-container{
    margin: 20px 0;
    position: absolute;
    top:300px;
    left:300px;
}

.prev-group {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.liste-eleve p.eleve {
    margin: 5px 0;
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-btn {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 99;
}

.dropdown-content label {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f0f0f0;
}

.eleve{
    display: block;
    position:  relative;

}


#groupesList{
    position: absolute;
    top: 50%;
    left: 60%;
}